{% extends "base.html" %}

{% block title %} Statistics {% endblock %}

{% block content %}

<!-- button 1 -->
<!-- <div>
  <p>Number of items in Memcache:</p>
  <p><br></p>
  <button onclick="numOfItems()">Click me!</button>
  <p id="number of items"></p>
</div>
<script>
  function numOfItems(){
    document.getElementById("number of items").innerHTML= {{num_of_items}};
    }
</script> -->

<table>
  <caption> Memcache statistics over the past 10 minutes</caption>
    <thead>
      <tr>
        <th>Time</th>
        <th>Number of Items</th>
        <th>Total Size of Items</th>
        <th>Number of Request Served</th>
        <th>Miss Rate</th>
        <th>Hit Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ time }}</td>
        <td>{{ num_of_items }}</td>
        <td>{{ total_size_of_items }}</td>
        <td>{{ number_of_request_served }}</td>
        <td>{{ miss_rate }}</td>
        <td>{{ hit_rate }}</td>
      </tr>
      <tr>
        <td>{{ time }}</td>
        <td>{{ num_of_items }}</td>
        <td>{{ total_size_of_items }}</td>
        <td>{{ number_of_request_served }}</td>
        <td>{{ miss_rate }}</td>
        <td>{{ hit_rate }}</td>
      </tr>
      <tr>
        <td>{{ time }}</td>
        <td>{{ num_of_items }}</td>
        <td>{{ total_size_of_items }}</td>
        <td>{{ number_of_request_served }}</td>
        <td>{{ miss_rate }}</td>
        <td>{{ hit_rate }}</td>
      </tr>
    </tbody>
</table>

<p>
  This table includes all memcache over the past 10 minutes, where the time axis is in 5 second increments. Data fetched from database.
</p>
{% endblock %}