{% extends "base.html" %}

{% block title %}Memcache options{% endblock %}

{% block content %}
  <div>
    <p>
      <b>Show all the keys in memcache :  </b>
      <br>
      <button onclick="f1()">show keys</button>
    </p>
    
    <p id="tab"></p>
    
  </div>
  <div>
    <form action="{{url_for('MemcacheOption')}}" method='post'>
        <p><b>Configure parameters of memcache:</b></p>
        <label>Capacity (MB) : {{memsize}}MB</label>
        <p></p>
        0
        <input type="range" min="0" max="51200" name="capacity" />
        50 MB
        <br>
        <br>
        <label for="policy">Replacement Policy: {{replace_policy}}</label>
        <select name="policy" id="policy">
            <option value="Random">Random</option>
            <option value="LRU">Least Recently Used</option>
        </select>
          <br><br>
        <input class="button" type="submit" value="upload" style="text-align: center;"/>
    </form>
  </div>
  <div>
    <br>
    <form action="{{url_for('CacheClear')}}" method="post">
        <input class="button" type="submit" value="Cache clear" />
    </form>
  </div> -->


<script type="text/javascript">
    function f1(){
    var key = document.getElementById("tab");
    key.innerHTML= {{ memcache|length }} + "keys\
        <ul>\
            {% for key in memcache %}\
              <li>{{key}}</li>\
            {% endfor%}\
        </ul>";
    }
</script>
{% endblock %}

