{% extends "base.html" %}

{% block title %}Memcache options{% endblock %}

{% block content %}
  <div>
    <p>
      <b>Show all the keys in memcache:</b>
      <br>
        <button onclick="f1()">show keys</button>
      </br>
    </p>
    
    <p id="tab">
        <a> {{memcache|length}} keys</a>
        <ul>
            {% for key in memcache.keys() %}
              <li>{{key}}</li>
            {% endfor%}
        </ul>
    </p>
    
  </div>
  <div>
    <form action="{{url_for('MemcacheOption')}}" method='post'>
        <p><b>Configure parameters of memcache:</b></p>
        <label>Capacity (MB) : {{memcache|length}}MB</label>
        0
        <input type="range" min="0" max="10" name="capacity" />
        10
        <br>
        <br>
        <label for="policy">Replacement Policy: {{replace_policy}}</label>
        <select name="policy" id="policy">
            <option value="Random">Random</option>
            <option value="LRU">Least Recently Used</option>
        </select>
          <br><br>
        <input class="button" type="submit" value="upload" style="text-align: center;"/>
    </form>
  </div>
  <div>
    <br>
    <form action="{{url_for('CacheClear')}}" method="post">
        <input class="button" type="submit" value="Cache clear" />
    </form>
  </div> -->


<script type="text/javascript">
    function f1(){
    var tab=document.getElementById("tab");
    tab.style.display=(tab.style.display=="none"? "":"none");
    }
</script>
{% endblock %}

